.record {
    position: relative;
    max-width: 390px;
    width: 96%;
    padding: 13px 24px 35px;
    background-color: $background-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 96dvh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #D0E1F1 #72B7F2;

    @media screen and (min-width: 1334px) {
        width: 800px;
        max-width: none;
        padding: 50px 40px 33px;
    }

    @media screen and (min-width: 1766px) {
        width: 1024px;
        padding: 48px 56px;
    }

    &__way {
        display: flex;
        gap: 15px;
        align-items: center;

        @media screen and (min-width: 1334px) {
            margin-left: 10px;
        }

        @media screen and (min-width: 1766px) {
            margin-left: 0;
        }
    }

    &__arrow {
        fill: $dark-accent-color;
        width: 24px;
        height: 24px;

        @media screen and (min-width: 1334px) {
            width: 32px;
            height: 32px;
        }

        @media screen and (min-width: 1766px) {
            width: 42px;
            height: 42px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.13;
        color: $text-color;

        @media screen and (min-width: 1334px) {
            font-weight: 400;
            font-size: 18px;
        }

        @media screen and (min-width: 1766px) {
            font-size: 24px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.13;
        color: $dark-accent-color;
        margin-top: 20px;

        @media screen and (min-width: 1334px) {
            font-size: 18px;
            margin-top: 24px;
        }

        @media screen and (min-width: 1766px) {
            font-size: 24px;
            margin-left: 20px;
            margin-top: 28px;
        }
    }

    &__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: #7b7b7b;
        margin-top: 8px;
        margin-bottom: 20px;

        @media screen and (min-width: 1334px) {
            font-size: 18px;
            margin-bottom: 24px;
        }

        @media screen and (min-width: 1766px) {
            font-size: 24px;
            margin-left: 20px;
            margin-bottom: 38px;
        }
    }

    &__item {
        position: relative;

        &:first-child,
        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 40px;

            @media screen and (min-width: 1334px) {
                margin-bottom: 48px;
            }

            @media screen and (min-width: 1766px) {
                margin-bottom: 56px;
            }
        }

        &:nth-child(2) {
            margin-bottom: 8px;

            @media screen and (min-width: 1334px) {
                margin-bottom: 16px;
            }

            @media screen and (min-width: 1766px) {
                margin-bottom: 22px;
            }
        }

        &:nth-child(2)::before,
        &:nth-child(4)::before,
        &:nth-child(5)::before {
            content: "";
            display: block;
            width: 1px;
            height: 24px;
            background-color: #8f8f8f;
            position: absolute;
            top: -32px;
            left: 12px;

            @media screen and (min-width: 1334px) {
                width: 1px;
                height: 36px;
                top: -42px;
                left: 10px;
            }

            @media screen and (min-width: 1766px) {
                width: 1px;
                height: 40px;
                top: -47px;
                left: 12px;
            }


        }

        &:nth-child(3)::before {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            background-color: #8f8f8f;
            position: absolute;
            top: -98px;
            left: 12px;

            @media screen and (min-width: 1334px) {
                width: 1px;
                height: 100px;
                top: -108px;
                left: 10px;
            }

            @media screen and (min-width: 1766px) {
                width: 1px;
                height: 130px;
                top: -138px;
                left: 12px;
            }
        }


    }

    &__wrapper {
        display: flex;
        gap: 8px;

        @media screen and (min-width: 1334px) {
            gap: 16px;
        }

        @media screen and (min-width: 1766px) {
            gap: 21px;
        }


    }

    &__edit {
        fill: none;
        stroke: $dark-accent-color;
        stroke-width: 1.50px;
        width: 24px;
        height: 24px;

        @media screen and (min-width: 1334px) {
            width: 20px;
            height: 20px;
        }

        @media screen and (min-width: 1766px) {
            width: 24px;
            height: 24px;
        }
    }

    &__map {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: $text-color;

        @media screen and (min-width: 1334px) {
            font-size: 14px;
            line-height: 1.29;
        }

        @media screen and (min-width: 1766px) {
            font-size: 18px;
            line-height: 1.33;
        }
    }

    &__num {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        color: $text-color;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 1px solid $dark-accent-color;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: 1px solid $dark-accent-color;

        @media screen and (min-width: 1334px) {
            font-size: 10px;
            border: 0.78px solid $dark-accent-color;
            width: 20px;
            height: 20px;
        }

        @media screen and (min-width: 1766px) {
            font-size: 14px;
            border: 1px solid $dark-accent-color;
            width: 24px;
            height: 24px;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.375;
        color: $text-color;

        @media screen and (min-width: 1334px) {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.33;
        }

        @media screen and (min-width: 1766px) {
            font-size: 18px;
        }

        &--disabled {
            color: #8f8f8f;

            @media screen and (min-width: 1334px) {
                font-weight: 400;
            }
        }
    }

    &__dates {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 12px 0 12px 32px;

        @media screen and (min-width: 1334px) {
            gap: 11px;
            margin: 16px 0 16px 36px;
        }

        @media screen and (min-width: 1766px) {
            gap: 14px;
            margin: 20px 0 20px 45px;
        }
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: $text-color;

        @media screen and (min-width: 1334px) {
            font-size: 14px;
            line-height: 1.33;
        }

        @media screen and (min-width: 1766px) {
            font-size: 18px;
        }

    }

    &__regulators {
        display: flex;
        gap: 22px;
        margin-left: 32px;

        @media screen and (min-width: 1334px) {
            gap: 44px;
            margin-left: 36px;
        }

        @media screen and (min-width: 1766px) {
            gap: 56px;
            margin-left: 45px;
        }
    }

    &__regulator {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: $text-color;

        @media screen and (min-width: 1334px) {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.33;
        }

        @media screen and (min-width: 1766px) {
            font-size: 18px;
        }
    }

    &__form {
        width: 100%;
        margin-top: 19px;

        @media screen and (min-width: 1334px) {
            margin: 16px auto 0;
            width: 420px;
        }

        @media screen and (min-width: 1766px) {
            width: 500px;
        }
    }

    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: $text-color;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media screen and (min-width: 1334px) {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.33;
            gap: 12px;
        }

        @media screen and (min-width: 1766px) {
            font-size: 18px;
            gap: 16px;
        }

        &:first-child {
            margin-bottom: 24px;

            @media screen and (min-width: 1334px) {
                margin-bottom: 12px;
            }

            @media screen and (min-width: 1766px) {
                margin-bottom: 16px;
            }
        }
    }

    &__input {
        padding: 12px 16px;
        border: 1px solid $light-accent-color;
        border-radius: 40px;
        width: 100%;

        @media screen and (min-width: 1334px) {
            border: 0.78px solid $dark-accent-color;
        }

        @media screen and (min-width: 1766px) {
            border: 1px solid $dark-accent-color;
            border-radius: 50px;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.33;
            color: $form-color;

            @media screen and (min-width: 1334px) {
                font-size: 14px;
            }

            @media screen and (min-width: 1766px) {
                font-size: 18px;
            }
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.13;
        color: $additional-color;
        background-color: $light-accent-color;
        width: 100%;
        padding: 14px 0;
        margin-top: 20px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        @media screen and (min-width: 1334px) {
            font-weight: 600;
            font-size: 15px;
            margin-top: 16px;
            padding: 11px 0;
            border-radius: 40px;
        }

        @media screen and (min-width: 1766px) {
            font-weight: 600;
            font-size: 20px;
            padding: 12px 0;
            border-radius: 50px;
            margin-top: 24px;
            margin-bottom: 22px;
        }
    }

    &__registes {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 1334px) {}

        @media screen and (min-width: 1766px) {}
    }

    &__regist {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: $text-color;

        @media screen and (min-width: 1334px) {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.33;
            color: #1f140f;
        }

        @media screen and (min-width: 1766px) {
            font-size: 18px;
        }
    }

    &__close {
        position: absolute;
        right: 24px;
        top: 13px;

        @media screen and (min-width: 1334px) {
            right: 25px;
            top: 20px;
        }

        @media screen and (min-width: 1766px) {
            right: 30px;
            top: 24px;
        }
    }

    &__icon {
        stroke-width: 1.50px;
        stroke: $light-accent-color;
        fill: none;
        width: 20px;
        height: 20px;

        @media screen and (min-width: 1334px) {
            stroke-width: 1.17px;
            stroke: $dark-accent-color;
            width: 19px;
            height: 19px;
        }

        @media screen and (min-width: 1766px) {
            stroke-width: 1.50px;
            width: 24px;
            height: 24px;
        }
    }
}