$dark-accent-color: #2887d9;
$text-color: #3a3b3d;
$additional-color: #fff;
$background-color: #eceff7;
$light-accent-color: #72b7f2;
$form-color: #9c9696;
$input-bg-color: #f7f7f8;
$accent-bg-color: #d0e1f1;

.enterD {
  padding-top: 120px;
  padding-bottom: 58px;
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__logo {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__picture {
    width: 186px;
    height: 48px;
    display: none;
  }

  &__img {
    display: none;
  }

  &__title {
    display: none;
  }

  &__subtitle {
    color: $text-color;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 16px;
  }

  &__funkshes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 3.5px;
    margin-bottom: 40px;
    border-bottom: 1px solid $accent-bg-color;
  }

  &__run {
    color: $form-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;

    &--accent {
      color: $text-color;
    }

    &:hover {
      color: $light-accent-color;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    display: block;
    position: relative;
  }

  &__input {
    display: block;
    margin-top: 8px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 40px;
    border: 1px solid $light-accent-color;
    background: $additional-color;
    height: 48px;
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;

    &::placeholder {
      color: $form-color;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
  }

  &__eye {
    fill: $text-color;
    position: absolute;
    bottom: 14px;
    right: 13.5px;
    width: 20px;
    height: 20px;
  }

  &__btn {
    margin-top: 44px;
    padding: 15px 152px;
    background-color: $light-accent-color;
    border-radius: 20px;
    color: $additional-color;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13;
    margin-bottom: 22px;
  }

  &__forget {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
  }

  &__block {
    display: none;
  }

  &__header {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__medias {
    display: flex;
    gap: 19px;
    justify-content: center;
  }

  &__icon {
    width: 36px;
    height: 36px;
  }

  &__sign {
    display: none;
  }
}

@media screen and (min-width: 1334px) {
  .enterD {
    padding: 0;

    @media screen and (min-width: 1334px) {
      background-image: url(./img/enterD-photo@1x-tablet.webp);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./img/enterD-photo@1x-tablet.webp);
      }
    }

    & .container {
      position: relative;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      margin: 0;
      position: absolute;
      left: 36px;
      top: 28px;
    }

    &__picture {
      width: 172px;
      height: 50px;
      display: block;
    }

    &__img {
      display: block;
      height: 100vh;
      position: fixed;
      width: auto;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0px 400px 400px 0px;
      border: 4px solid $light-accent-color;
    }

    &__content {
      width: 420px;
      margin-left: auto;
      margin-right: 104px;
    }

    &__title {
      display: block;
      margin-bottom: 32px;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 1.6;
      color: $text-color;
      text-align: center;
    }

    &__subtitle {
      display: none;
    }

    &__funkshes {
      display: none;
    }

    &__list {
      gap: 12px;
    }

    &__label {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      color: $text-color;
    }

    &__input {
      margin-top: 12px;
      border-radius: 50px;
      border: 1px solid $dark-accent-color;
    }

    &__eye {
      fill: $text-color;
      position: absolute;
      bottom: 14px;
      right: 13.5px;
      width: 20px;
      height: 20px;
    }

    &__btn {
      width: 100%;
      margin-top: 30px;
      padding: 14px 0;
      border-radius: 50px;
      margin-bottom: 34px;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
    }

    &__forget {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 40px;
    }

    &__block {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__first {
      color: $dark-accent-color;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }

    &__registration {
      color: $dark-accent-color;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;

      &--accent {
        font-weight: 700;
      }
    }

    &__header {
      display: none;
    }

    &__medias {
      display: flex;
      gap: 40;
      justify-content: center;
      margin-top: 32px;
    }

    &__media {
      min-width: 258px;
    }

    &__address {
      display: flex;
      padding: 10px 20px;
      gap: 12px;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid $additional-color;
      border-radius: 20px;
    }

    &__icon {
      width: 36px;
      height: 36px;
    }

    &__sign {
      display: block;
      color: #181818;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

@media screen and (min-width: 1766px) {
  .enterD {
    @media screen and (min-width: 1766px) {
      background-image: url(./img/enterD-photo@1x-desktop.webp);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./img/enterD-photo@2x-desktop.webp);
      }
    }

    &__content {
      width: 500px;
      margin-right: 347px;
    }

    &__title {
      display: block;
      color: $text-color;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.33;
      text-align: center;
      margin-bottom: 48px;
    }

    &__subtitle {
      display: none;
    }

    &__funkshes {
      display: none;
    }

    &__list {
      gap: 16px;
    }

    &__input {
      margin-top: 16px;
      border-radius: 50px;
      border: 1px solid $dark-accent-color;
    }

    &__eye {
      fill: $text-color;
      position: absolute;
      bottom: 14px;
      right: 13.5px;
      width: 20px;
      height: 20px;
    }

    &__btn {
      margin-top: 48px;
      margin-bottom: 58px;
    }

    &__medias {
      margin-top: 32px;
    }

    &__media {
      min-width: 282px;
    }

    &__sign {
      font-size: 18px;
    }
  }
}
