$dark-accent-color: #2887D9;
$text-color: #3A3B3D;
$additional-color: #fff;
$background-color: #ECEFF7;
$light-accent-color: #72B7F2;
$form-color: #9C9696;
$input-bg-color: #F7F7F8;
$accent-bg-color: #D0E1F1;