$dark-accent-color: #2887d9;
$text-color: #3a3b3d;
$additional-color: #fff;
$background-color: #eceff7;
$light-accent-color: #72b7f2;
$form-color: #9c9696;
$input-bg-color: #f7f7f8;
$accent-bg-color: #d0e1f1;

.reviews {
	padding-top: 32px;
	padding-bottom: 55px;

	&__title {
		color: $dark-accent-color;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.13;
		margin-bottom: 34px;
	}

	&__wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 86px;
	}

	&__item {
		position: relative;
	}

	&__img {
		width: 80px;
		height: 80px;
	}

	&__text {
		position: absolute;
		left: 60px;
		top: -30px;
		z-index: -1;
		color: $text-color;
		font-size: 13.201px;
		font-weight: 400;
		line-height: normal;
		width: 281px;
		height: 140px;
		padding: 16px;
		padding-left: 33px;
		border-radius: 20.627px;
		border: 0.413px solid var(--blue-blue, #72b7f2);
		background: #f2f3f5;
	}

	&__icon {
		display: none;
	}
}

@media screen and (min-width: 1334px) {
	.reviews {
		padding-top: 40px;
		padding-bottom: 76px;

		&__title {
			font-family: 'Open Sans';
			font-size: 34.15px;
			font-weight: 600;
			line-height: 0.92;
			margin-bottom: 24px;
		}

		&__wrapper {
			padding: 0;
			display: flex;
			align-items: center;
			gap: 520px;
		}

		&__list {
			gap: 136px;
		}

		&__item {
		}

		&__img {
			width: 140px;
			height: 140px;
		}

		&__text {
			left: 106px;
			top: -51px;
			font-size: 22.767px;
			width: 484px;
			height: 242px;
			padding: 28px;
			padding-left: 57px;
			border-radius: 40px;
			border: 0.711px solid var(--blue-blue, #72b7f2);
		}

		&__icon {
			display: block;
		}
	}
}

@media screen and (min-width: 1766px) {
	.reviews {
		padding-top: 0;
		padding-bottom: 100px;

		&__title {
			font-size: 48px;
			margin-bottom: 100px;
		}

		&__wrapper {
			gap: 700px;
		}

		&__list {
			gap: 197px;
		}

		&__item {
		}

		&__img {
			width: 190px;
			height: 190px;
		}

		&__text {
			left: 150px;
			top: -72px;
			font-size: 32px;
			width: 680px;
			height: 340px;
			padding: 38px 39px 38px 80px;
			border-radius: 50px;
			border: 1px solid var(--blue-blue, #72b7f2);
		}

		&__icon {
			width: 743px;
			height: 731px;
		}
	}
}
