.login-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.login-backImg {
		width: 800px;
		height: 1080px;
		border-radius: 0 400px 400px 0;

		position: absolute;
		top: 0px;
		left: 0px;

		z-index: -1;
	}

	.login-logo {
		width: 264px;
		height: 70px;
		position: absolute;
		top: 48px;
		left: 100px;
	}

	.login-form {
		height: 1040px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 500px;
		height: 649px;
		margin: 215px 215px 215px 1073px;

		.login-login {
			width: 500px;
			height: 48px;

			display: flex;
			justify-content: space-between;

			margin: 24px 0 44px 0;

			span,
			a {
				margin: 13px;

				font-family: Open Sans;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 0%;
				color: #2887d9;
			}
		}

		.login-form-group {
			width: 500px;
			height: 88px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.login-title {
			width: 500px;
			text-align: center;
			margin-bottom: 80px;

			font-family: Open Sans;
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 0%;
			color: #2887d9;
		}
	}

	.form {
		width: 500px;
		height: 287px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;

		.form-text {
			font-family: Open Sans;
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0%;
			color: #3a3b3d;
		}
	}

	input,
	select {
		width: 500px;
		height: 48px;
		border-radius: 50px;
		border: 1px solid #2887d9;
		padding: 10px 19px 10px 19px;
		background-color: #ffff;

		color: #9c9696;
		font-family: Open Sans;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0%;
		font-family: Open Sans;
	}

	.birth-date-selects {
		width: 500px;
		height: 128px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.birth-date-inputs {
		width: 500px;
		height: 48px;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	.birth-date-month {
		width: 100%;
	}

	.form-birth-date {
		height: 128px !important;
	}

	.submit-button {
		width: 500px;
		height: 48px;
		border-radius: 50px;
		gap: 8px;

		background-color: #72b7f2;

		font-family: Open Sans;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0%;
		text-align: center;
		color: white;
	}

	.login-resetPassword {
		text-align: center;
		margin: 43px 0 0 0;
	}

	.login-social {
		width: 500px;
		height: 48px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.login-with {
			width: 232px;
			height: 100%;

			display: flex;
			flex-direction: row;
			align-items: center;

			img {
				width: 36px;
				height: 36px;

				margin: 8px 12px 8px 8px;
			}
		}
	}
}
