$dark-accent-color: #2887d9;
$text-color: #3a3b3d;
$additional-color: #fff;
$background-color: #eceff7;
$light-accent-color: #72b7f2;
$form-color: #9c9696;
$input-bg-color: #f7f7f8;
$accent-bg-color: #d0e1f1;

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
}
