$dark-accent-color: #2887d9;
$text-color: #3a3b3d;
$additional-color: #fff;
$background-color: #eceff7;
$light-accent-color: #72b7f2;
$form-color: #9c9696;
$input-bg-color: #f7f7f8;
$accent-bg-color: #d0e1f1;

.search {
  padding: 24px 0 29px;
  position: relative;

  @media screen and (min-width: 1334px) {
    padding: 120px 0 224px;
  }

  @media screen and (min-width: 1766px) {
    padding: 200px 0 224px;
  }

  &__container {
    position: relative;

    @media screen and (min-width: 1334px) {
      width: 480px;
    }

    @media screen and (min-width: 1766px) {
      width: 671px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__text {
    @media screen and (min-width: 1334px) {
      padding: 20px 24px 64px;
      border: 1px solid #a4cef5;
      border-radius: 40px;
    }

    @media screen and (min-width: 1766px) {
      padding: 40px 37px 60px;
      border: 1px solid #a4cef5;
      border-radius: 50px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    color: $dark-accent-color;
    margin-bottom: 170px;

    @media screen and (min-width: 1334px) {
      font-weight: 600;
      font-size: 34px;
      line-height: 0.92;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1766px) {
      font-weight: 600;
      font-size: 48px;
      margin-bottom: 52px;
    }
  }

  &__list {
    display: flex;
    gap: 34px;

    @media screen and (min-width: 1334px) {
      gap: 47px;
    }

    @media screen and (min-width: 1766px) {
      gap: 68px;
    }
  }

  &__num {
    font-weight: 400;
    font-size: 48px;
    line-height: 0.45833;
    color: #d1a4bc;
    display: flex;
    gap: 11px;
    align-items: center;
    margin-bottom: 16px;

    @media screen and (min-width: 1334px) {
      font-size: 68px;
      margin-bottom: 23px;
      gap: 16px;
    }

    @media screen and (min-width: 1766px) {
      font-size: 96px;
      margin-bottom: 32px;
      gap: 22px;
    }
  }

  &__small {
    font-weight: 600;
    font-size: 16px;
    color: #d1a4bc;

    @media screen and (min-width: 1334px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1766px) {
      font-size: 32px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    color: $dark-accent-color;

    @media screen and (min-width: 1334px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1766px) {
      font-size: 32px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    color: $additional-color;
    background-color: $light-accent-color;
    padding: 14px 0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 11px;

    @media screen and (min-width: 1334px) {
      font-weight: 400;
      font-size: 22px;
      color: $additional-color;
      background-color: $light-accent-color;
      padding: 13px 148px;
      border-radius: 36px;
      width: auto;
      width: 452px;
      position: absolute;
      bottom: -32px;
      left: 14;
      margin: 0;
    }

    @media screen and (min-width: 1766px) {
      font-weight: 400;
      font-size: 32px;
      line-height: 1.38;
      color: $additional-color;
      background-color: $light-accent-color;
      padding: 18px 208px;
      border-radius: 50px;
      width: 636px;
      position: static;
    }
  }

  &__photos {
    position: relative;
  }

  &__photo:first-child &__img {
    position: absolute;
    top: -350px;
    left: 207px;
    border: 0.99px solid $light-accent-color;
    border-radius: 119px;
    width: 139px;
    height: 139px;

    @media screen and (min-width: 1334px) {
      top: -292px;
      left: 619px;
      border: 1.42px solid $light-accent-color;
      border-radius: 95px;
      width: 180px;
      height: 180px;
    }

    @media screen and (min-width: 1766px) {
      top: -502px;
      left: 880px;
      border: 2px solid $light-accent-color;
      border-radius: 133px;
      width: 270px;
      height: 270px;
    }
  }

  &__photo:nth-child(2) &__img {
    position: absolute;
    top: -263px;
    left: 55px;
    border: 0.85px solid #fce296;
    border-radius: 57px;
    width: 112px;
    height: 114px;

    @media screen and (min-width: 1334px) {
      top: -308px;
      left: 993px;
      border: 1.42px solid #fce296;
      border-radius: 90px;
      width: 180px;
      height: 180px;
    }

    @media screen and (min-width: 1766px) {
      top: -520px;
      left: 1414px;
      border: 2px solid #fce296;
      border-radius: 135px;
      width: 266px;
      height: 270px;
    }
  }

  &__photo:last-child &__img {
    display: none;

    @media screen and (min-width: 1334px) {
      top: -96px;
      left: 811px;
      display: block;
      position: absolute;
      border: 1.42px solid #f3dfea;
      border-radius: 150px;
      width: 300px;
      height: 300px;
    }

    @media screen and (min-width: 1766px) {
      top: -254px;
      left: 1150px;
      border: 2px solid #f3dfea;
      border-radius: 195px;
      width: 391px;
      height: 398px;
    }
  }
}
